# pascaliske/prometheus
# https://github.com/pascaliske/helm-charts/blob/master/charts/prometheus/values.yaml
image:
  repository: prom/prometheus
  tag: latest

env:
  - name: TZ
    value: '{{ timezone }}'

extraArgs:
  - --web.enable-lifecycle
  - --web.external-url=https://{{ service }}.{{ domain }}
  - --storage.tsdb.retention.time=2w
  - --log.level=warn

ports:
  http:
    enabled: true
    port: 9090

configMap:
  create: true
  files:
    prometheus.yml: |
      {{ lookup('template', 'services/' ~ service ~ '/config.yml.j2') | indent(6) }}
    alert.rules: |
      {{ lookup('template', 'services/' ~ service ~ '/rules.yml.j2') | indent(6) }}

configMapReload:
  enabled: true
  image:
    repository: jimmidyson/configmap-reload
    tag: latest

persistentVolumeClaim:
  create: false
  existingPersistentVolumeClaim: '{{ service }}-storage'

resources:
  requests:
    cpu: 500m
    memory: 512Mi
  limits:
    cpu: 500m
    memory: 512Mi

keel:
  policy: force
  images:
    - repository: image.repository
      tag: image.tag
