# wyrihaximusnet/pi-hole-exporter
# https://github.com/WyriHaximusNet/helm-charts/blob/master/charts/pi-hole-exporter/values.yaml
image:
  repository: ekofr/pihole-exporter
  tag: 0.0.10

configurationSecret: '{{ exporter }}-auth-secret'

replicas: 0

keel:
  policy: minor
  images:
    - repository: image.repository
      tag: image.tag
