# pascaliske/redis
# https://github.com/pascaliske/helm-charts/blob/master/charts/redis/values.yaml
image:
  repository: redis
  tag: alpine

keel:
  policy: force
  images:
    - repository: image.repository
      tag: image.tag
