# pascaliske/fritzbox-exporter
# https://github.com/pascaliske/helm-charts/blob/master/charts/fritzbox-exporter/values.yaml
image:
  repository: sealife/fritzbox-exporter
  tag: latest

deployment:
  annotations:
    prometheus.io/scrape: 'true'

env:
  - name: TZ
    value: '{{ timezone }}'
  - name: FRITZ_HOST
    value: '{{ vault.ips.router }}'
  - name: FRITZ_USER
    value: '{{ vault.fritzbox.username }}'
  - name: FRITZ_PASS
    value: '{{ vault.fritzbox.password }}'

ports:
  metrics:
    enabled: true
    port: 8765
    protocol: TCP

resources:
  requests:
    cpu: 500m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 128Mi

keel:
  policy: force
  images:
    - repository: image.repository
      tag: image.tag
