# k8s-at-home/speedtest-exporter
# https://github.com/k8s-at-home/charts/blob/master/charts/stable/speedtest-exporter/values.yaml
env:
  - name: TZ
    value: '{{ timezone }}'

podAnnotations:
  prometheus.io/scrape-slow: 'true'
  prometheus.io/port: '9798'
