---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: 'git.{{ domain }}'
  namespace: '{{ role_name }}'
spec:
  secretName: 'git.{{ domain }}'
  dnsNames:
    - 'git.{{ domain }}'
  issuerRef:
    kind: ClusterIssuer
    name: cert-manager-lets-encrypt
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: 'registry.{{ domain }}'
  namespace: '{{ role_name }}'
spec:
  secretName: 'registry.{{ domain }}'
  dnsNames:
    - 'registry.{{ domain }}'
  issuerRef:
    kind: ClusterIssuer
    name: cert-manager-lets-encrypt
