# pascaliske/gitlab
# https://github.com/pascaliske/helm-charts/blob/master/charts/gitlab/values.yaml
image:
  repository: gitlab/gitlab-ce
  tag: latest

env:
  - name: TZ
    value: '{{ timezone }}'

ports:
  registry:
    enabled: true
    port: 5005

configMap:
  config: |
    {{ lookup('template', role_name ~ '/config.rb.j2') | indent(4) }}

healthCheck:
  whitelist:
    - 127.0.0.1
    - 10.42.0.1

backups:
  hostPath: '{{ paths.root }}/{{ role_name }}/backups'

resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi
