apiVersion: v1
kind: Service
metadata:
  name: '{{ role_name }}-metrics'
  namespace: '{{ role_name }}'
  labels:
    app.kubernetes.io/name: '{{ role_name }}'
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: '{{ role_name }}'
  ports:
    - name: traefik
      port: 9000
      targetPort: traefik
