# traefik/traefik
# https://github.com/traefik/traefik-helm-chart/blob/master/traefik/values.yaml
image:
  name: traefik
  tag: '2.6'

ingressRoute:
  dashboard:
    enabled: false

providers:
  kubernetesCRD:
    allowCrossNamespace: true

logs:
  access:
    enabled: true
    filters:
      statuscodes: 400-599

metrics:
  prometheus:
    entryPoint: traefik

globalArguments:
  - --global.checknewversion=false
  - --global.sendanonymoususage=false

additionalArguments:
  - '--ping.entrypoint=traefik'
  - '--serverstransport.insecureskipverify'

env:
  - name: TZ
    value: '{{ timezone }}'

ports:
  # services
  http:
    port: 9080
    expose: true
    exposedPort: 80
    redirectTo: https
  https:
    port: 9443
    expose: true
    exposedPort: 443

  # metrics
  traefik:
    port: 9000
    expose: false
    exposedPort: 9000

  # disable default entry points
  web: null
  websecure: null
  metrics: null

tlsOptions:
  default:
    minVersion: VersionTLS12
    sniStrict: true

service:
  spec:
    externalTrafficPolicy: Local

keel:
  policy: minor
  images:
    - repository: image.name
      tag: image.tag
