# prometheus-community/kube-state-metrics
# https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-state-metrics/values.yaml
image:
  repository: k8s.gcr.io/kube-state-metrics/kube-state-metrics
  tag: v2.2.0

podAnnotations:
  prometheus.io/scrape: 'true'
  prometheus.io/port: '8080'

keel:
  policy: force
  images:
    - repository: image.repository
      tag: image.tag
