image:
  repository: golift/unifi-poller
  tag: latest

global:
  fullnameOverride: unifi-exporter

podAnnotations:
  prometheus.io/scrape: 'true'
  prometheus.io/port: http

env:
  TZ: '{{ timezone }}'
  UP_POLLER_DEBUG: false
  UP_POLLER_QUIET: true
  UP_UNIFI_DYNAMIC: false
  UP_UNIFI_DEFAULT_URL: 'https://unifi.unifi.svc.cluster.local:8443'
  UP_UNIFI_DEFAULT_USER: '{{ vault.unifi.username }}'
  UP_UNIFI_DEFAULT_PASS: '{{ vault.unifi.password }}'
  UP_INFLUXDB_DISABLE: true
