# k8s-at-home/unifi-poller
# https://github.com/k8s-at-home/charts/blob/master/charts/stable/unifi-poller/values.yaml
image:
  repository: golift/unifi-poller
  tag: latest

global:
  fullnameOverride: unifi-exporter

podAnnotations:
  prometheus.io/scrape: 'true'
  prometheus.io/port: http

env:
  - name: TZ
    value: '{{ timezone }}'
  - name: UP_POLLER_DEBUG
    value: false
  - name: UP_POLLER_QUIET
    value: true
  - name: UP_UNIFI_DYNAMIC
    value: false
  - name: UP_UNIFI_DEFAULT_URL
    value: 'https://unifi.unifi.svc.cluster.local:8443'
  - name: UP_UNIFI_DEFAULT_USER
    value: '{{ vault.unifi.username }}'
  - name: UP_UNIFI_DEFAULT_PASS
    value: '{{ vault.unifi.password }}'
  - name: UP_INFLUXDB_DISABLE
    value: true
