apiVersion: v1
kind: Secret
metadata:
  name: '{{ exporter }}-auth-secret'
  namespace: '{{ role_name }}'
type: Opaque
stringData:
  PIHOLE_HOSTNAME: pihole-web.pihole.svc.cluster.local
  PIHOLE_PASSWORD: '{{ vault.pi_hole.password }}'
