groups:
  # prometheus
  - name: Prometheus
    rules:
      - alert: PrometheusTargetDown
        expr: up == 0
        for: 0m
        annotations:
          title: Prometheus target down
          description: Prometheus target `{{ '{{ $labels.job }}' }}` @ `{{ '{{ $labels.instance }}' }}` is down.
        labels:
          severity: critical
      - alert: ConfigurationReloadFailure
        expr: prometheus_config_last_reload_successful != 1
        for: 0m
        annotations:
          title: Configuration reload failure
          description: Prometheus configuration was not reloaded successfully!
        labels:
          severity: warning

  # node
  - name: Node Exporter
    rules:
      - alert: HostHighCpuLoad
        expr: 100 - (avg by(instance) (rate(node_cpu_seconds_total{mode="idle"}[2m])) * 100) > 80
        for: 0m
        annotations:
          title: Host high CPU load
          description: Host CPU load is getting too high (> 80%)!
        labels:
          severity: warning
      - alert: HostOutOfMemory
        expr: node_memory_MemAvailable_bytes / node_memory_MemTotal_bytes * 100 < 10
        for: 2m
        annotations:
          title: Host out of memory
          description: Host memory is filling up (< 10% left)!
        labels:
          severity: warning
      - alert: HostOutOfDiskSpace
        expr: (node_filesystem_avail_bytes * 100) / node_filesystem_size_bytes < 10 and ON (instance, device, mountpoint) node_filesystem_readonly == 0
        for: 2m
        annotations:
          title: Host out of disk space
          description: Host disk is almost full (< 10% left)!
        labels:
          severity: warning
      - alert: HostPhysicalComponentTooHot
        expr: node_hwmon_temp_celsius > 70
        for: 5m
        annotations:
          title: Host high temperature
          description: Physical hardware components are getting too hot (> 70°C)!
        labels:
          severity: warning
      - alert: HostPhysicalComponentTooHot
        expr: node_hwmon_temp_celsius > 75
        for: 2m
        annotations:
          title: Host high temperature
          description: Physical hardware components are getting too hot (> 75°C)!
        labels:
          severity: critical

  # cadvisor
  - name: Cadvisor
    rules:
      - alert: ContainerKilled
        expr: time() - (max by (name, image, job, instance, id) (container_last_seen{image!=""})) > 60
        for: 0m
        annotations:
          title: Container disappeared
          description: Container `{{ '{{ $labels.name }}' }}` was not seen in the last 60 seconds!
        labels:
          severity: warning
