groups:
  # prometheus
  - name: Prometheus
    rules:
      - alert: PrometheusTargetDown
        expr: up == 0
        for: 5m
        annotations:
          title: Prometheus target down
          description: Prometheus target `{{ '{{ $labels.job }}' }}` @ `{{ '{{ $labels.instance }}' }}` is down for more than 5 minutes.
        labels:
          severity: critical
      - alert: PrometheusConfigurationReloadFailure
        expr: prometheus_config_last_reload_successful != 1
        for: 0m
        annotations:
          title: Configuration reload failure
          description: Prometheus configuration was not reloaded successfully!
        labels:
          severity: warning
      - alert: AlertmanagerConfigurationReloadFailure
        expr: alertmanager_config_last_reload_successful != 1
        for: 0m
        annotations:
          title: Configuration reload failure
          description: AlertManager configuration was not reloaded successfully!
        labels:
          severity: warning

  # node
  - name: Node Exporter
    rules:
      - alert: HostHighCpuLoad
        expr: 100 - (avg by(instance) (irate(node_cpu_seconds_total{mode="idle"}[2m])) * 100) > 80
        for: 2m
        annotations:
          title: Host high CPU load
          description: Host CPU load is getting too high (> 80%)!
        labels:
          severity: warning
      - alert: HostOutOfMemory
        expr: 100 * (1 - ((node_memory_MemFree_bytes + node_memory_Cached_bytes + node_memory_Buffers_bytes) / node_memory_MemTotal_bytes)) > 90
        for: 2m
        annotations:
          title: Host out of memory
          description: Host memory is filling up (< 10% left)!
        labels:
          severity: warning
      - alert: HostOutOfDiskSpace
        expr: (node_filesystem_avail_bytes * 100) / node_filesystem_size_bytes < 10 and ON (instance, device, mountpoint) node_filesystem_readonly == 0
        for: 2m
        annotations:
          title: Host out of disk space
          description: Host disk is almost full (< 10% left)!
        labels:
          severity: warning
      - alert: HostPhysicalComponentTooHot
        expr: node_hwmon_temp_celsius > 70
        for: 5m
        annotations:
          title: Host high temperature
          description: Physical hardware components are getting too hot (> 70°C)!
        labels:
          severity: warning
      - alert: HostPhysicalComponentTooHot
        expr: node_hwmon_temp_celsius > 75
        for: 2m
        annotations:
          title: Host high temperature
          description: Physical hardware components are getting too hot (> 75°C)!
        labels:
          severity: critical

  # cadvisor
  - name: Cadvisor
    rules:
      - alert: ContainerKilled
        expr: time() - (max by (name, image, job, instance, id) (container_last_seen{image!=""})) > 60
        for: 0m
        annotations:
          title: Container disappeared
          description: Container `{{ '{{ $labels.name }}' }}` was not seen in the last 60 seconds!
        labels:
          severity: warning

  # traefik
  - name: Traefik
    rules:
      - alert: TraefikHigh4xxErrorRateService
        expr: sum(rate(traefik_service_requests_total{code=~"4.*"}[3m])) by (service) / sum(rate(traefik_service_requests_total[3m])) by (service) * 100 > 5
        for: 1m
        annotations:
          title: High 4xx error rate by service
          description: Service error rate (4xx) is above 5% for at least 1 minute.
        labels:
          severity: critical
      - alert: TraefikHigh5xxErrorRateService
        expr: sum(rate(traefik_service_requests_total{code=~"5.*"}[3m])) by (service) / sum(rate(traefik_service_requests_total[3m])) by (service) * 100 > 5
        for: 1m
        annotations:
          title: High 5xx error rate by service
          description: Service error rate (5xx) is above 5% for at least 1 minute.
        labels:
          severity: critical

  # internet
  - name: internet
    rules:
      - alert: InternetDownloadSlow
        expr: avg_over_time(speedtest_download[20m]) < 20
        for: 0m
        annotations:
          title: Internet download slow
          description: Download speed is currently {{ '{{ humanize $value }}' }} Mbps.
        labels:
          severity: warning
      - alert: InternetUploadSlow
        expr: avg_over_time(speedtest_upload[20m]) < 10
        for: 0m
        annotations:
          title: Internet upload slow
          description: Upload speed is currently {{ '{{ humanize $value }}' }} Mbps.
        labels:
          severity: warning
