---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: node-feature-discovery
  namespace: flux-system
spec:
  type: oci
  url: oci://gcr.io/k8s-staging-nfd/charts
  interval: 10m0s
