---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  chart:
    spec:
      chart: traefik
      version: '39.0.1'
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  install:
    crds: Skip
  upgrade:
    crds: Skip
  values:
    image:
      repository: traefik
      tag: 'v3.6.8'
    deployment:
      kind: DaemonSet
      healthchecksPort: 9100
    podDisruptionBudget:
      enabled: true
    gateway:
      listeners:
        # name and port must match http entrypoint
        http:
          port: 9080
          protocol: HTTP

        # disable default listener
        web: null
    providers:
      kubernetesCRD:
        allowCrossNamespace: true
        allowEmptyServices: true
      kubernetesGateway:
        enabled: true
    logs:
      access:
        enabled: true
        filters:
          statuscodes: 400-599
    metrics:
      prometheus:
        entryPoint: metrics
        service:
          enabled: true
        serviceMonitor:
          enabled: true
          namespace: traefik
        prometheusRule:
          enabled: true
          namespace: traefik
          rules:
            - alert: TraefikDown
              expr: up{job="traefik"} == 0
              for: 5m
              labels:
                context: traefik
                severity: warning
              annotations:
                summary: 'Traefik Down'
                description: '{{ $labels.pod }} on {{ $labels.nodename }} is down'
    global:
      checkNewVersion: true
      sendAnonymousUsage: false
    additionalArguments:
      - --ping.entrypoint=metrics
      - --serverstransport.insecureskipverify
    env:
      - name: TZ
        value: ${TIMEZONE}
    ports:
      # services
      http:
        port: 9080
        expose:
          default: true
        exposedPort: 80
        http:
          redirections:
            entryPoint:
              to: https
              scheme: https
              permanent: true
        forwardedHeaders:
          trustedIPs:
            - 10.42.0.0/16
      https:
        port: 9443
        expose:
          default: true
        exposedPort: 443
        forwardedHeaders:
          trustedIPs:
            - 10.42.0.0/16

      # dashboard
      traefik:
        port: 8080
        expose:
          default: false
        exposedPort: 8080

      # metrics
      metrics:
        port: 9100
        expose:
          default: false
        exposedPort: 9100

      # disable default entry points
      web: null
      websecure: null
    tlsOptions:
      default:
        minVersion: VersionTLS12
        sniStrict: true
    service:
      spec:
        externalTrafficPolicy: Local
    tolerations:
      - key: node-role.kubernetes.io/control-plane
        operator: Exists
        effect: NoSchedule
  interval: 10m0s
