# k8s-at-home/unifi
# https://github.com/k8s-at-home/charts/blob/master/charts/stable/unifi/values.yaml
image:
  repository: jacobalberty/unifi
  tag: 'v7.0'

env:
  - name: TZ
    value: '{{ timezone }}'
  - name: UNIFI_UID
    value: '{{ ansible_user_uid }}'
  - name: UNIFI_GID
    value: '{{ ansible_user_gid }}'
  - name: LOTSOFDEVICES
    value: 'true'

service:
  main:
    ports:
      portal-http:
        enabled: true
      portal-https:
        enabled: true
      controller:
        enabled: false
      syslog:
        enabled: false
  controller:
    enabled: true
    type: NodePort
    ports:
      controller-tcp:
        enabled: true
        port: 8080
        nodePort: 8080

persistence:
  data:
    enabled: true
    accessMode: ReadWriteOnce
    size: 1Gi

keel:
  policy: force
  images:
    - repository: image.repository
      tag: image.tag
