image:
  repository: pascaliske/alpine-curl-jq
  tag: latest

fullnameOverride: dyndns

cronJob:
  enabled: true
  schedule: '0 * * * *'

env:
  - name: TZ
    value: '{{ timezone }}'
  - name: DOMAIN
    value: '{{ domain }}'
  - name: NAME
    value: vpn

secret:
  create: true
  token: '{{ vault.digital_ocean.token }}'

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 100m
    memory: 128Mi
