# pascaliske/cloudflare-dyndns
# https://github.com/pascaliske/helm-charts/blob/master/charts/cloudflare-dyndns/values.yaml
image:
  repository: pascaliske/cloudflare-dyndns
  tag: latest

fullnameOverride: dyndns

cronJob:
  enabled: true
  schedule: '0 * * * *'
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1

env:
  - name: TZ
    value: '{{ timezone }}'
  - name: DOMAIN
    value: '{{ domain }}'
  - name: NAME
    value: vpn

secret:
  create: true
  token: '{{ vault.cloudflare.token }}'

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 100m
    memory: 128Mi

keel:
  policy: force
  images:
    - repository: image.repository
      tag: image.tag
