{# title template #}
{%- set __title -%}
{%- raw %}
[{{ .Status | toLower }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .CommonLabels.alertname }} for {{ .CommonLabels.job }}
{%- endraw %}
{%- endset -%}

{# text template #}
{%- set __text -%}
{%- raw %}
{{ range .Alerts -}}
*Alert:* {{ .Annotations.title }}{{ if .Labels.severity }} - `{{ .Labels.severity }}`{{ end }}

*Description:* {{ .Annotations.description }}

*Details:*
{{ range .Labels.SortedPairs }} • *{{ .Name }}:* `{{ .Value }}`
{{ end }}
{{ end }}
{%- endraw -%}
{%- endset -%}

route:
  receiver: slack

receivers:
  - name: slack
    slack_configs:
      - channel: '{{ vault.alertmanager.slack.channel }}'
        username: '{{ vault.alertmanager.slack.username }}'
        api_url: 'https://hooks.slack.com/services/{{ vault.alertmanager.slack.tokens }}'
        title: |
          {{- __title | indent(width=10, first=True) }}
        text: |
          {{- __text | indent(width=10, first=True) }}
        send_resolved: true
