# install dependencies
- ansible.builtin.include_tasks: packages.yml

# configure system
- ansible.builtin.include_tasks: system/network.yml
- ansible.builtin.include_tasks: system/filesystem.yml
- ansible.builtin.include_tasks: system/localization.yml
- ansible.builtin.include_tasks: system/motd.yml
- ansible.builtin.include_tasks: system/shell.yml

# install tools
- ansible.builtin.include_tasks: tools/vim.yml
- ansible.builtin.include_tasks: tools/unattended-upgrades.yml
