# install common apt packages
- name: Install common apt packages
  become: true
  ansible.builtin.apt:
    name: '{{ item }}'
    state: latest
    update_cache: true
  loop: '{{ common_apt_packages }}'

# install common pip packages
- name: Install common python packages
  ansible.builtin.pip:
    name: '{{ item }}'
    state: latest
    extra_args: "{{ '--break-system-packages' if ansible_distribution == 'Debian' and ansible_distribution_major_version >= '12' else '' }}"
  loop: '{{ common_pip_packages }}'
