# --- install common apt packages
- name: Install common apt packages
  become: true
  ansible.builtin.apt:
    name: '{{ item }}'
    state: latest
    update_cache: true
  loop: '{{ common_apt_packages }}'
