# vector/vector
# https://github.com/vectordotdev/helm-charts/blob/master/charts/vector/values.yaml
image:
  repository: timberio/vector
  tag: latest-alpine

role: Agent

persistence:
  enabled: true
