# --- install log2ram
- name: Setup apt repository
  become: true
  ansible.builtin.deb822_repository:
    name: azlux
    uris: http://packages.azlux.fr/{{ ansible_facts.distribution | lower }}/
    signed_by: https://azlux.fr/repo.gpg.key
    suites: '{{ ansible_facts.distribution_release | lower }}'
    components:
      - main

- name: Install log2ram
  become: true
  ansible.builtin.apt:
    name: log2ram
    state: latest
    update_cache: true

# --- configure log2ram
- name: Update size of log2ram
  become: true
  ansible.builtin.lineinfile:
    path: '{{ log2ram_config }}'
    line: 'SIZE={{ log2ram_size }}'
    regexp: '^SIZE='
  notify: Restart log2ram
