---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: security
  namespace: '{{ role_name }}'
spec:
  chain:
    middlewares:
      - name: rate-limit
        namespace: '{{ role_name }}'
---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: rate-limit
  namespace: '{{ role_name }}'
spec:
  rateLimit:
    average: 100
    burst: 50
