image:
  repository: budry/cadvisor-arm
  tag: latest

container:
  port: 8080
  additionalArgs:
    - --docker_only=true
    - --housekeeping_interval=10s
    - --allow_dynamic_housekeeping=false
  hostPaths:
    - name: rootfs
      path: /
      mount: /rootfs
    - name: sys
      path: /sys
    - name: var-run
      path: /var/run
    - name: docker
      path: /var/lib/docker
    - name: disk
      path: /dev/disk

resources:
  requests:
    memory: 400Mi
    cpu: 400m
  limits:
    memory: 2000Mi
    cpu: 800m
