---
common_hostname: '{{ inventory_hostname }}'
common_static_ip: ''
common_static_router: ''
common_static_dns: ''
common_timezone: Europe/Berlin
common_locale: en_US.UTF-8
common_shell_aliases:
  - alias: ll
    command: ls -lisahG
common_apt_packages:
  - apt-transport-https
  - unattended-upgrades
  - dnsutils
  - htop
  - iftop
  - iotop
  - ncdu
  - tmux
  - curl
