# {{ ansible_managed }}
{% if keepalived_check_script | default('') | length > 0 %}

global_defs {
    script_user {{ ansible_user }}
    enable_script_security
}

vrrp_script check_{{ keepalived_name }} {
    script '{{ keepalived_check_script }}'
    interval 2
    rise 5
    fall 2
}
{% endif %}

vrrp_instance {{ keepalived_name }} {
    state {{ keepalived_state }}
    interface {{ keepalived_interface }}
    priority {{ keepalived_priority }}
    virtual_router_id 91
    advert_int 1

    authentication {
        auth_type PASS
        auth_pass {{ keepalived_auth_password }}
    }

    virtual_ipaddress {
        {{ keepalived_virtual_ip }}
    }
{% if keepalived_check_script | default('') | length > 0 %}

    track_script {
        check_{{ keepalived_name }}
    }
{% endif %}
}
