# prometheus-community/prometheus-redis-exporter
# https://github.com/prometheus-community/helm-charts/blob/main/charts/prometheus-redis-exporter/values.yaml
image:
  repository: oliver006/redis_exporter
  tag: latest

fullnameOverride: redis-exporter

redisAddress: redis://redis.redis.svc.cluster.local:6379

annotations:
  prometheus.io/scrape: 'true'
  prometheus.io/port: '9121'

keel:
  policy: force
  images:
    - repository: image.repository
      tag: image.tag
