# general
global:
  checkNewVersion: false
  sendAnonymousUsage: false

# internals
api:
  dashboard: true
ping:
  entryPoint: metrics

# entry points
entryPoints:
  # services
  http:
    address: :80
    http:
      redirections:
        entryPoint:
          to: https
          permanent: false
  https:
    address: :443

  # metrics
  metrics:
    address: :9000

# certificates
certificatesResolvers:
  http:
    acme:
      email: '{{ vault.auth.email }}'
      storage: /etc/traefik/acme-http.json
      httpChallenge:
        entryPoint: http
  digitalocean:
    acme:
      email: '{{ vault.auth.email }}'
      storage: /etc/traefik/acme.json
      dnsChallenge:
        provider: digitalocean
        delayBeforeCheck: 0

# providers
providers:
  file:
    directory: /etc/traefik/dynamic
    watch: true
  docker:
    endpoint: tcp://docker-proxy:2375
    network: network_proxy
    exposedByDefault: false

{% if ansible_play_name == 'network' %}
# prometheus metrics
metrics:
  prometheus:
    entryPoint: metrics

{% endif -%}

# access logs
accessLog:
  filePath: /var/log/access.log
  filters:
    statusCodes:
      - 400-599

# ignore self signed certs
serversTransport:
  insecureSkipVerify: true
