deutsche_bahn_from: ''
deutsche_bahn_to: ''
digital_ocean_token: ''
dwd_weather_region: ''
ffmmbp207_ip: ''
fritzbox_ip: ''
home_latitude: ''
home_longitude: ''
icloud_password: ''
icloud_username: ''
lg_tv_ip: ''
lg_tv_mac: ''
pi_hole_api_key: ''
pi_hole_ip: ''
pi_hole_url: ''
spotify_client_id: ''
spotify_client_secret: ''
travis_ci_api_key: ''
withings_client_id: ''
withings_client_secret: ''
withings_profile_pascal: ''
withings_profile_sarah: ''
withings_sensor_pascal: ''
withings_sensor_sarah: ''
