deutsche_bahn_from: ''
deutsche_bahn_to: ''
digital_ocean_token: ''
dwd_weather_region: ''
home_latitude: ''
home_longitude: ''
icloud_password: ''
icloud_username: ''
ip_ffmmbp207: ''
ip_fritzbox: ''
ip_ipad: ''
ip_iphone: ''
ip_lg_tv: ''
ip_pi_hole: ''
lg_tv_mac: ''
pi_hole_api_key: ''
pi_hole_url: ''
spotify_client_id: ''
spotify_client_secret: ''
travis_ci_api_key: ''
withings_client_id: ''
withings_client_secret: ''
withings_profile_pascal: ''
withings_profile_sarah: ''
withings_sensor_pascal: ''
withings_sensor_sarah: ''
