[poller]
  debug = false
  quiet = true
  plugins = []

[prometheus]
  disable = false
  http_listen = "0.0.0.0:9130"
  report_errors = false

[influxdb]
  disable = true

[unifi]
  dynamic = false

[unifi.defaults]
  url = "https://unifi:8443"
  user = "{{ vault.unifi.username }}"
  pass = "{{ vault.unifi.password }}"
  sites = ["all"]
  save_ids = false
  save_dpi = false
  save_sites = true
  hash_pii = false
  verify_ssl = false
