# keel/keel
# https://github.com/keel-hq/keel/blob/master/chart/keel/values.yaml
image:
  repository: pascaliske/keel
  tag: latest

helmProvider:
  enabled: true
  version: v3

slack:
  enabled: true
  token: '{{ vault.keel.slack.token }}'
  channel: '#infrastructure'
  approvalsChannel: '#infrastructure'
  botName: keel

mail:
  enabled: true
  from: '{{ vault.smtp.accounts.keel.email }}'
  to: '{{ vault.auth.email }}'
  smtp:
    server: '{{ vault.smtp.host }}'
    port: {{ vault.smtp.port }}
    user: '{{ vault.smtp.accounts.keel.email }}'
    pass: '{{ vault.smtp.accounts.keel.password }}'

basicauth:
  enabled: true
  user: '{{ vault.keel.auth.username }}'
  password: '{{ vault.keel.auth.password }}'

service:
  enabled: true
  type: ClusterIP
  externalPort: 9300

persistence:
  enabled: false
  storageClass: local-path
  size: 128Mi

keel:
  policy: force
  images:
    - repository: image.repository
      tag: image.tag
