apiVersion: v1
kind: Secret
metadata:
  name: '{{ role_name }}-registry-auth'
  namespace: '{{ role_name }}'
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: '{{ { "auths": registries | items2dict } | to_json | b64encode }}'
