---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: headers
  namespace: '{{ role_name }}'
spec:
  headers:
    accessControlAllowCredentials: true
    browserXssFilter: true
    contentTypeNosniff: true
    forceSTSHeader: true
    frameDeny: true
    # sslHost: unifi.{{ domain }} # TODO: deprecated
    # sslRedirect: true # TODO: deprecated
    stsIncludeSubdomains: true
    stsPreload: true
    stsSeconds: 315360000
