# pascaliske/code-server
# https://github.com/pascaliske/helm-charts/blob/master/charts/code-server/values.yaml
image:
  repository: codercom/code-server
  tag: latest

env:
  - name: TZ
    value: '{{ timezone }}'

extraArgs:
  - --disable-telemetry

secret:
  create: false

persistentVolumeClaim:
  mountPath: /home/coder
  projectsPath: /home/coder/projects

repositories:
  {{ projects | to_nice_yaml | indent(2) }}

securityContext:
  fsGroup: {{ ansible_user_gid }}
  runAsNonRoot: true
  runAsGroup: {{ ansible_user_gid }}
  runAsUser: {{ ansible_user_uid }}

resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi
