---
# --- all
- name: Provision all hosts (except synology based)
  hosts: all,!synology
  roles:
    - role: common
      tags:
        - common
    - role: tailscale
      tags:
        - tailscale

# --- groups
- name: Provision Raspberry Pis
  hosts: raspberry
  roles:
    - role: log2ram
      tags:
        - log2ram

- name: Provision Docker hosts
  hosts: docker
  roles:
    - role: docker
      tags:
        - docker
