http:
  routers:
    homeassistant:
      rule: Host(`homeassistant.{{ domain }}`)
      entryPoints:
        - https
      service: homeassistant-{{ inventory_hostname }}
      middlewares:
        - auth@file
        - security@file
        - error-pages@file
      tls:
        certResolver: digitalocean
  services:
    homeassistant-{{ inventory_hostname }}:
      loadBalancer:
        servers:
          - url: https://dockerhost:8123
