{% for key, value in vault.ips.items() %}
  {{- 'ip_' }}{{ key }}: '{{ value }}'
{% endfor %}
{% for key, value in vault.macs.items() %}
  {{- 'mac_' }}{{ key }}: '{{ value }}'
{% endfor %}
{% for key, value in vault.home_assistant.secrets.items() %}
  {{- key }}: '{{ value }}'
{% endfor %}
