# k8s-at-home/home-assistant
# https://github.com/k8s-at-home/charts/blob/master/charts/stable/home-assistant/values.yaml
image:
  repository: homeassistant/home-assistant
  tag: '2021.9'

env:
  - name: TZ
    value: '{{ timezone }}'

# needed for wake-on-lan and ps4 integrations
hostNetwork: true

# needed for zigbee usb access
securityContext:
  privileged: true

persistence:
  config:
    enabled: true
    type: hostPath
    hostPath: '{{ paths.root }}/{{ role_name }}'
    mountPath: /config
  usb:
    enabled: true
    type: hostPath
    hostPath: /dev/ttyACM0
