---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: catch-all
  namespace: '{{ role_name }}'
spec:
  entryPoints:
    - https
  routes:
    - kind: Rule
      match: HostRegexp(`{host:.+}`)
      services:
        - kind: Service
          name: '{{ role_name }}-errors'
          namespace: '{{ role_name }}'
          port: 8080
      middlewares:
        - name: security
          namespace: '{{ role_name }}'
        - name: error-pages
          namespace: '{{ role_name }}'
      priority: 1
