# pascaliske/traefik-errors
# https://github.com/pascaliske/helm-charts/blob/master/charts/traefik-errors/values.yaml
image:
  repository: pascaliske/traefik-errors
  tag: latest

env:
  - name: TZ
    value: '{{ timezone }}'
  - name: NGINX_PORT
    value: 8080

ports:
  http:
    enabled: true
    port: 8080
    protocol: TCP

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 100m
    memory: 128Mi

keel:
  policy: force
  images:
    - repository: image.repository
      tag: image.tag
