# --- ensure vim is installed
- name: Install apt package for vim
  become: true
  ansible.builtin.apt:
    name: vim
    state: latest
    update_cache: true

# --- configure vim
- name: Configure vim
  ansible.builtin.template:
    src: vim/.vimrc.j2
    dest: '{{ ansible_facts.env.HOME }}/.vimrc'
