# {{ ansible_managed }}
flannel-iface: tailscale0
advertise-address: {{ k3s_master_ip_tailscale }}
node-ip: {{ k3s_master_ip_tailscale }}
node-external-ip: {{ k3s_master_ip }}
{% if k3s_master_labels | default([]) | length > 0 %}
node-label:
{% for label in k3s_master_labels %}
  - {{ label }}
{% endfor %}
{% endif %}
{% if k3s_master_taints | default([]) | length > 0 %}
node-taint:
{% for taint in k3s_master_taints %}
  - {{ taint }}
{% endfor %}
{% endif %}
disable:
  - traefik
