# --- configure timezone
- name: Configure timezone
  become: true
  ansible.builtin.timezone:
    name: '{{ common_timezone }}'

# --- configure locale
- name: Ensure the locale exists
  become: true
  ansible.builtin.locale_gen:
    name: '{{ common_locale }}'
    state: present

- name: Set locale as default
  become: true
  ansible.builtin.command:
    cmd: 'update-locale LANG={{ common_locale }}'
