# --- configure motd
- name: Remove default motd files
  become: true
  ansible.builtin.file:
    path: '{{ item }}'
    state: absent
  loop:
    - /etc/motd
    - /etc/update-motd.d/10-help-text
    - /etc/update-motd.d/50-motd-news
    - /etc/update-motd.d/50-landscape-sysinfo
    - /etc/update-motd.d/88-esm-announce

- name: Configure motd file
  become: true
  ansible.builtin.template:
    src: motd/motd.j2
    dest: /etc/update-motd.d/89-infrastructure-header
    owner: root
    group: root
    mode: '755'
