---
# --- configure system hostname
- name: Set the hostname
  become: true
  ansible.builtin.command:
    cmd: hostnamectl set-hostname "{{ common_hostname }}"

- name: Update /etc/hosts with new hostname
  become: true
  ansible.builtin.lineinfile:
    path: /etc/hosts
    state: present
    regexp: '127\.0\.1\.1\s+'
    line: "127.0.1.1 {{ hostnames | select | join(' ') }}"
    backrefs: true
  vars:
    hostnames:
      - "{{ 'raspberrypi' if 'raspberry' in group_names else None }}"
      - "{{ common_hostname | default(inventory_hostname) }}"
  when:
    - common_hostname is defined
    - common_hostname | length > 0

# --- configure static ip
- name: Configure static ip via nmcli
  become: true
  community.general.nmcli:
    state: present
    type: ethernet
    conn_name: eth0
    ip4: '{{ common_static_ip }}'
    gw4: '{{ common_static_router }}'
    dns4:
      - '{{ common_static_dns }}'
  when:
    - "'raspberry' in group_names"
    - common_static_ip is defined
    - common_static_router is defined
    - common_static_dns is defined
