---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  chart:
    spec:
      chart: traefik
      version: '28.3.0'
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  install:
    createNamespace: true
    crds: Skip
  upgrade:
    crds: Skip
  values:
    image:
      repository: traefik
      tag: 'v3.0.2'
    deployment:
      kind: DaemonSet
      healthchecksPort: 9100
    ingressRoute:
      dashboard:
        enabled: false
    providers:
      kubernetesCRD:
        allowCrossNamespace: true
        allowEmptyServices: true
    logs:
      access:
        enabled: true
        filters:
          statuscodes: 400-599
    metrics:
      prometheus:
        entryPoint: metrics
        service:
          enabled: true
        serviceMonitor:
          namespace: traefik
        prometheusRule:
          namespace: traefik
          rules:
            - alert: TraefikDown
              expr: up{job="traefik"} == 0
              for: 5m
              labels:
                context: traefik
                severity: warning
              annotations:
                summary: "Traefik Down"
                description: "{{ $labels.pod }} on {{ $labels.nodename }} is down"
    globalArguments:
      - --global.checknewversion=true
      - --global.sendanonymoususage=false
    additionalArguments:
      - '--ping.entrypoint=metrics'
      - '--serverstransport.insecureskipverify'
    env:
      - name: TZ
        value: ${TIMEZONE}
    ports:
      # services
      http:
        port: 9080
        expose:
          default: true
        exposedPort: 80
        redirectTo:
          port: https
      https:
        port: 9443
        expose:
          default: true
        exposedPort: 443

      # dashboard
      traefik:
        port: 9000
        expose:
          default: false
        exposedPort: 9000

      # metrics
      metrics:
        port: 9100
        expose:
          default: false
        exposedPort: 9100

      # disable default entry points
      web: null
      websecure: null
    tlsOptions:
      default:
        minVersion: VersionTLS12
        sniStrict: true
    service:
      spec:
        externalTrafficPolicy: Local
    tolerations:
      - key: node-role.kubernetes.io/control-plane
        operator: Exists
        effect: NoSchedule
      - key: k8s.pascaliske.dev/location
        operator: Equal
        value: public
        effect: NoSchedule
  interval: 10m0s
