---
apiVersion: v1
kind: ConfigMap
metadata:
  name: '{{ role_name }}-users'
  namespace: '{{ role_name }}'
data:
  users.yaml: |
    users:
      '{{ vault.auth.username }}':
        email: '{{ vault.auth.email }}'
        password: '{{ vault.auth.password }}'
        displayname: '{{ vault.auth.display_name }}'
        groups:
          - admins
