" {{ ansible_managed }}
syntax enable

set number
set ruler
set encoding=utf8
set nobackup
set noendofline
set nofixendofline
set nowb
set noswapfile
set expandtab
set shiftwidth=4
set tabstop=4
set ai "Auto indent"
set si "Smart indent"
set wrap "Wrap lines"
set background=dark
set showcmd
set wildmenu
set lazyredraw
set showmatch
