# k8s-at-home/shlink
# https://github.com/k8s-at-home/charts/blob/master/charts/stable/shlink/values.yaml
image:
  repository: shlinkio/shlink
  tag: latest

env:
  - name: TZ
    value: '{{ timezone }}'
  - name: DEFAULT_DOMAIN
    value: 'go.{{ domain }}'
  - name: USE_HTTPS
    value: 'true'
  - name: VALIDATE_URLS
    value: 'true'
  - name: INVALID_SHORT_URL_REDIRECT_TO
    value: 'https://{{ domain }}'
  - name: REGULAR_404_REDIRECT_TO
    value: 'https://{{ domain }}'
  - name: BASE_URL_REDIRECT_TO
    value: 'https://{{ domain }}'
  - name: REDIS_SERVERS
    value: redis://redis.redis.svc.cluster.local:6379
  - name: REDIRECT_APPEND_EXTRA_PATH
    value: 'true'
  - name: AUTO_RESOLVE_TITLES
    value: 'true'
  - name: ENABLE_PERIODIC_VISIT_LOCATE
    value: 'false'

persistence:
  data:
    enabled: true
    mountPath: /etc/shlink/data/database.sqlite
    subPath: database.sqlite
    accessMode: ReadWriteOnce
    size: 1Gi
