apiVersion: v1
kind: Secret
metadata:
  name: '{{ service }}-auth-secret'
  namespace: '{{ role_name }}'
type: Opaque
stringData:
  user: '{{ vault.grafana.username }}'
  password: '{{ vault.grafana.password }}'
