---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: dashboard
  namespace: '{{ role_name }}'
spec:
  entryPoints:
    - https
  routes:
    - kind: Rule
      match: Host(`vault.{{ domain }}`)
      services:
        - kind: Service
          name: '{{ role_name }}'
          namespace: '{{ role_name }}'
          port: 80
      middlewares:
        - name: auth
          namespace: traefik
        - name: security
          namespace: traefik
        - name: error-pages
          namespace: traefik
  tls:
    secretName: 'vault.{{ domain }}'
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: dashboard-websocket
  namespace: '{{ role_name }}'
spec:
  entryPoints:
    - https
  routes:
    - kind: Rule
      match: Host(`vault.{{ domain }}`) && Path(`/notifications/hub`)
      services:
        - kind: Service
          name: '{{ role_name }}'
          namespace: '{{ role_name }}'
          port: 3012
      middlewares:
        - name: auth
          namespace: traefik
        - name: security
          namespace: traefik
  tls:
    secretName: 'vault.{{ domain }}'
