# k8s-at-home/vaultwarden
# https://github.com/k8s-at-home/charts/blob/master/charts/stable/vaultwarden/values.yaml
image:
  repository: vaultwarden/server
  tag: alpine

env:
  - name: TZ
    value: '{{ timezone }}'
  - name: DOMAIN
    value: 'https://vault.{{ domain }}'
  - name: DATA_FOLDER
    value: config
  - name: SIGNUPS_VERIFY
    value: 'true'
  - name: SIGNUPS_DOMAINS_WHITELIST
    value: "{{ domains | dict2items | map(attribute='value') | join(',') }}"
  - name: DISABLE_ADMIN_TOKEN
    value: 'true'
  - name: SMTP_HOST
    value: '{{ vault.smtp.host }}'
  - name: SMTP_PORT
    value: '{{ vault.smtp.port }}'
  - name: SMTP_USERNAME
    value: '{{ vault.smtp.accounts.vaultwarden.email }}'
  - name: SMTP_PASSWORD
    value: '{{ vault.smtp.accounts.vaultwarden.password }}'
  - name: SMTP_SSL
    value: true
  - name: SMTP_FROM
    value: '{{ vault.smtp.accounts.vaultwarden.email }}'
  - name: SMTP_FROM_NAME
    value: '{{ vault.smtp.accounts.vaultwarden.name }}'

persistence:
  config:
    enabled: true

keel:
  policy: force
  images:
    - repository: image.repository
      tag: image.tag
