# k8s-at-home/vaultwarden
# https://github.com/k8s-at-home/charts/blob/master/charts/stable/vaultwarden/values.yaml
image:
  repository: vaultwarden/server
  tag: alpine

env:
  - name: TZ
    value: '{{ timezone }}'
  - name: DATA_FOLDER
    value: config
  - name: SIGNUPS_VERIFY
    value: 'true'
  - name: SIGNUPS_DOMAINS_WHITELIST
    value: "{{ domains | dict2items | map(attribute='value') | join(',') }}"
  - name: DISABLE_ADMIN_TOKEN
    value: 'true'

persistence:
  config:
    enabled: true
