apiVersion: v1
kind: Service
metadata:
  name: '{{ role_name }}-node-port'
  namespace: '{{ role_name }}'
  labels:
    app.kubernetes.io/name: '{{ role_name }}'
spec:
  type: NodePort
  selector:
    app.kubernetes.io/name: '{{ role_name }}'
  ports:
    - name: dns
      protocol: UDP
      port: 5053
      targetPort: dns
      nodePort: 31234
