# pascaliske/cloudflared
# https://github.com/pascaliske/helm-charts/blob/master/charts/cloudflared/values.yaml
image:
  repository: ghcr.io/crazy-max/cloudflared
  tag: latest

deployment:
  replicas: 2
  annotations:
    prometheus.io/scrape: 'true'
    prometheus.io/port: '49312'

env:
  - name: TZ
    value: '{{ timezone }}'
  - name: TUNNEL_DNS_UPSTREAM
    value: https://1.1.1.1/dns-query,https://1.0.0.1/dns-query

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 100m
    memory: 128Mi

keel:
  policy: force
  images:
    - repository: image.repository
      tag: image.tag
