# k8s-at-home/blocky
# https://github.com/k8s-at-home/charts/blob/master/charts/stable/blocky/values.yaml
image:
  repository: spx01/blocky
  tag: v0.17

controller:
  strategy: RollingUpdate
  replicas: 2

env:
  TZ: '{{ timezone }}'

podAnnotations:
  prometheus.io/scrape: 'true'
  prometheus.io/port: '4000'

service:
  main:
    ports:
      http:
        port: 4000
  dns-tcp:
    enabled: true
    type: LoadBalancer
    externalTrafficPolicy: Local
    ports:
      dns-tcp:
        enabled: true
        port: 9053
        protocol: TCP
        targetPort: 53
  dns-udp:
    enabled: true
    type: LoadBalancer
    externalTrafficPolicy: Local
    ports:
      dns-udp:
        enabled: true
        port: 9053
        protocol: UDP
        targetPort: 53

persistence:
  logs:
    enabled: true
    mountPath: /logs
    accessMode: ReadWriteOnce
    size: 512Mi

config: |
  {{ lookup('template', role_name ~ '/config.yml.j2') | indent(2) }}

keel:
  policy: force
  images:
    - repository: image.repository
      tag: image.tag
