# prometheus-community/alertmanager
# https://github.com/prometheus-community/helm-charts/blob/main/charts/alertmanager/values.yaml
image:
  repository: prom/alertmanager
  tag: latest

extraArgs:
  web.external-url: 'https://alerts.{{ domain }}'

config:
  {{ lookup('template', 'services/' ~ service ~ '/config.yml.j2') | indent(2) }}

templates:
  slack.tmpl: |-
    {{ lookup('template', 'services/' ~ service ~ '/templates/slack.tmpl.j2') | indent(4) }}

configmapReload:
  enabled: true
  image:
    repository: jimmidyson/configmap-reload
    tag: latest

serviceAccount:
  create: false

keel:
  policy: force
  images:
    - repository: image.repository
      tag: image.tag
