# prometheus-community/prometheus-node-exporter
# https://github.com/prometheus-community/helm-charts/blob/main/charts/prometheus-node-exporter/values.yaml
image:
  repository: prom/node-exporter
  tag: latest

fullnameOverride: node-exporter

extraArgs:
  - --collector.filesystem.ignored-mount-points=^/(sys|proc|dev|host|etc)($$|/)
  - --no-collector.nvme

serviceAccount:
  create: false

rbac:
  create: false
