---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ role_name }}-basic-auth-secret'
  namespace: '{{ role_name }}'
data:
  users: |
    {{ (vault.basicAuth.username ~ ':' ~ vault.basicAuth.password) | b64encode }}
