---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ role_name }}-digital-ocean-secret'
  namespace: '{{ role_name }}'
stringData:
  email: '{{ vault.auth.email }}'
  authToken: '{{ vault.digital_ocean.token }}'
