# grafana/promtail
# https://github.com/grafana/helm-charts/blob/main/charts/promtail/values.yaml
image:
  repository: grafana/promtail
  tag: latest

config:
  lokiAddress: http://loki.monitoring.svc.cluster.local:3100/loki/api/v1/push

keel:
  policy: force
  images:
    - repository: image.repository
      tag: image.tag
