{# host specific vars #}
{%- set vars = lookup('vars', inventory_hostname) -%}

{# rules block #}
{%- macro rules(indent=2) -%}
  {%- set results = [] -%}

  {# build rules #}
  {%- if vars.rules is defined and vars.rules | length > 0 -%}
    {%- for rule in vars.rules -%}
      {%- set result = {} -%}
      {%- set domains = [] -%}

      {# modify domains #}
      {%- for service in rule.services -%}
        {{- domains.append(service ~ '.' ~ domain) -}}
      {%- endfor -%}

      {# update result #}
      {%- if rule.resources is defined and rule.resources | length > 0 -%}
        {%- set _ = result.update({ 'policy': rule.policy, 'domain': domains, 'resources': rule.resources, }) -%}
      {%- else -%}
        {%- set _ = result.update({ 'policy': rule.policy, 'domain': domains }) -%}
      {%- endif -%}

      {# append result to rules #}
      {{- results.append(result) -}}
    {%- endfor -%}
  {%- endif -%}

  {# return result #}
  {{- '\n' ~ (results | to_nice_yaml(indent=indent)) -}}
{%- endmacro -%}

---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ role_name }}-rules'
  namespace: '{{ role_name }}'
stringData:
  rules.yml: |
    access_control:
      default_policy: one_factor
      rules: {{ rules(indent=2) | indent(width=6) }}
