{# rule domains block #}
{%- macro rule_domains(rule) %}
{%- for service in rule.services %}
  - {{ service }}.{{ domain }}
{% endfor -%}
{% endmacro -%}

{# rule resources block #}
{%- macro rule_resources(rule) %}
resources:
{% for resource in rule.resources %}
  - {{ resource }}
{% endfor -%}
{% endmacro -%}

{# rule policy block #}
{%- macro rule_policy(rule) %}
policy: {{ rule.policy -}}
{% endmacro -%}

# general
host: 0.0.0.0
port: 9091
theme: dark
jwt_secret: '{{ auth_jwt_secret }}'
default_redirection_url: 'https://{{ 'go.' if ansible_play_name == 'gitlab' }}{{ domain }}'
totp:
  issuer: '{{ domain }}'
log_file_path: /var/log/authelia.log

authentication_backend:
  disable_reset_password: true
  file:
    path: /config/users.yml
    password:
      algorithm: sha512
      iterations: 1
      salt_length: 16
      parallelism: 8
      memory: 128

access_control:
  default_policy: deny
  {% if rules[ansible_play_name] is defined -%}
  rules:
    {% for rule in rules[ansible_play_name] -%}
    - domain:
      {{+ rule_domains(rule) | indent(6) -}}
      {{+ rule_resources(rule) | indent(6, indentfirst=True) if rule.resources is defined -}}
      {{+ rule_policy(rule) | indent(6, indentfirst=True) }}
    {% endfor -%}
  {%- else -%}
  rules: {{ '[]' -}}
  {%- endif %}

session:
  name: authelia_session
  domain: '{{ domain }}'
  secret: '{{ auth_session_secret }}'
  expiration: 42h
  inactivity: 15m

regulation:
  max_retries: 3
  find_time: 120
  ban_time: 300

storage:
  local:
    path: /config/db.sqlite3

notifier:
  smtp:
    host: '{{ smtp.host }}'
    port: '{{ smtp.port }}'
    username: '{{ smtp.accounts.auth.email }}'
    password: '{{ smtp.accounts.auth.password }}'
    sender: '{{ smtp.accounts.auth.email }}'
    identifier: localhost
    subject: "[auth@{{ ansible_play_name }}] {title}"
    startup_check_address: '{{ auth_username }}'
    disable_require_tls: false
    disable_html_emails: false
    tls:
      skip_verify: false
      minimum_version: TLS1.2
