---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: dashboard
  namespace: '{{ role_name }}'
spec:
  entryPoints:
    - https
  routes:
    - kind: Rule
      match: Host(`auth.{{ domain }}`)
      services:
        - kind: Service
          name: '{{ role_name }}'
          namespace: '{{ role_name }}'
          port: 80
      middlewares:
        - name: security
          namespace: traefik
        - name: error-pages
          namespace: traefik
        - name: headers
          namespace: '{{ role_name }}'
  tls:
    secretName: 'auth.{{ domain }}'
