# List of users
users:
  '{{ vault.auth.username }}':
    email: '{{ vault.auth.email }}'
    password: '{{ vault.auth.password }}'
    displayname: '{{ vault.auth.display_name }}'
    groups:
      - admins
