# authelia/authelia
# https://github.com/authelia/chartrepo/blob/master/charts/authelia/values.yaml
image:
  registry: ghcr.io
  repository: authelia/authelia
  tag: '4.34'

domain: '{{ domain }}'

pod:
  kind: Deployment
  env:
    - name: TZ
      value: '{{ timezone }}'
  extraVolumeMounts:
    - name: users
      mountPath: /users.yaml
      subPath: users.yaml
      readOnly: true
  extraVolumes:
    - name: users
      configMap:
        name: '{{ role_name }}-users'
        items:
          - key: users.yaml
            path: users.yaml

configMap:
  log:
    level: info

  default_redirection_url: 'https://{{ domains.internal }}'

  theme: dark

  webauthn:
    display_name: 'auth@{{ inventory_hostname }}'

  authentication_backend:
    disable_reset_password: true
    ldap:
      enabled: false
    file:
      enabled: true
      path: /users.yaml
      password:
        algorithm: sha512
        memory: 128

  access_control:
    secret:
      key: rules.yml
      existingSecret: '{{ role_name }}-rules'

  session:
    inactivity: 10m
    redis:
      host: redis.redis.svc.cluster.local

  storage:
    local:
      enabled: true
      path: /config/db.sqlite3
    postgres:
      enabled: false

  notifier:
    smtp:
      enabledSecret: true
      host: '{{ vault.smtp.host }}'
      port: '{{ vault.smtp.port }}'
      username: '{{ vault.smtp.accounts.auth.email }}'
      sender: '{{ vault.smtp.accounts.auth.email }}'
      subject: '[auth@{{ inventory_hostname }}] {title}'

secret:
  jwt:
    value: '{{ vault.auth.jwt_secret }}'
  storageEncryptionKey:
    value: '{{ vault.auth.storage_secret }}'
  session:
    value: '{{ vault.auth.session_secret }}'
  smtp:
    value: '{{ vault.smtp.accounts.auth.password }}'

persistence:
  enabled: true

keel:
  policy: force
  images:
    - repository: image.repository
      tag: image.tag
