# grafana/grafana
# https://github.com/grafana/helm-charts/blob/main/charts/grafana/values.yaml
image:
  repository: grafana/grafana
  tag: 8.4.7 # latest / 8.5.0 is broken: https://github.com/grafana/grafana/issues/48130

testFramework:
  enabled: false

securityContext:
  fsGroup: {{ ansible_user_gid }}
  runAsNonRoot: true
  runAsGroup: {{ ansible_user_gid }}
  runAsUser: {{ ansible_user_uid }}

persistence:
  enabled: true
  size: 1Gi

adminUser: '{{ vault.grafana.username }}'
adminPassword: '{{ vault.grafana.password }}'

env:
  TZ: '{{ timezone }}'

extraVolumeMounts:
  - name: '{{ service }}-provisioning'
    mountPath: /etc/grafana/provisioning
    hostPath: '{{ paths.root }}/{{ service }}/provisioning'
    readOnly: true

plugins:
  - grafana-piechart-panel

grafana.ini:
  server:
    domain: '{{ service }}.{{ domain }}'
    root_url: '%(protocol)s://%(domain)s:%(http_port)s'
    serve_from_sub_path: false
    enable_gzip: true
  log:
    level: warn
  users:
    allow_sign_up: false
    auto_assign_org: true
    auto_assign_org_role: Viewer
  auth:
    disable_signout_menu: true
  auth.proxy:
    enabled: true
    header_name: Remote-User
    header_property: username
    headers: 'Name:Remote-Name Email:Remote-Email Groups:Remote-Groups'
    auto_sign_up: false
    enable_login_token: true
    sync_ttl: 60
  remote_cache:
    type: redis
    connstr: addr=redis.redis.svc.cluster.local:6379
  dashboards:
    default_home_dashboard_path: /etc/grafana/provisioning/dashboards/cluster/nodes.json
  analytics:
    reporting_enabled: false
    check_for_updates: true

keel:
  policy: force
  images:
    - repository: image.repository
      tag: image.tag
