---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: dashboard
  namespace: '{{ role_name }}'
spec:
  entryPoints:
    - https
  routes:
    - kind: Rule
      match: Host(`status.{{ domain }}`)
      services:
        - kind: Service
          name: '{{ role_name }}-web'
          namespace: '{{ role_name }}'
          port: 3001
      middlewares:
        - name: auth
          namespace: traefik
        - name: security
          namespace: traefik
        - name: error-pages
          namespace: traefik
  tls:
    secretName: 'status.{{ domain }}'
