# pascaliske/uptime-kuma
# https://github.com/pascaliske/helm-charts/blob/master/charts/uptime-kuma/values.yaml
image:
  repository: louislam/uptime-kuma
  tag: alpine

env:
  - name: TZ
    value: '{{ timezone }}'
  - name: PGID
    value: '{{ ansible_user_gid }}'
  - name: PUID
    value: '{{ ansible_user_uid }}'

resources:
  limits:
    cpu: 150m
    memory: 512Mi
  requests:
    cpu: 150m
    memory: 512Mi

keel:
  policy: force
  images:
    - repository: image.repository
      tag: image.tag
