image:
  repository: louislam/uptime-kuma
  tag: alpine

env:
  - name: TZ
    value: '{{ timezone }}'

securityContext:
  fsGroup: {{ ansible_user_gid }}
  runAsNonRoot: true
  runAsGroup: {{ ansible_user_gid }}
  runAsUser: {{ ansible_user_uid }}

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi
