# --- check variables
- name: Check provided data directory
  ansible.builtin.assert:
    success_msg: The provided data directory value is valid.
    fail_msg: The provided data directory value is invalid!
    that:
      - minio_data_directory is defined
      - minio_data_directory | length > 0

# --- preparation
- name: Ensure directories exist
  ansible.builtin.file:
    path: '{{ item }}'
    state: directory
  loop:
    - '{{ minio_data_directory }}'

# --- install minio
- name: Create container
  community.docker.docker_container:
    name: '{{ role_name }}'
    image: '{{ role_name }}/{{ role_name }}:RELEASE.2022-10-24T18-35-07Z'
    restart_policy: unless-stopped
    pull: true
    detach: true
    command: server /data --console-address ":9001"
    user: '{{ ansible_user_uid }}:{{ ansible_user_gid }}'
    ports:
      - '9000:9000'
      - '9001:9001'
    env:
      MINIO_ROOT_USER: '{{ minio_root_user }}'
      MINIO_ROOT_PASSWORD: '{{ minio_root_password }}'
    volumes:
      - '{{ minio_data_directory }}:/data'
