{# service logo block #}
{%- macro service_logo(service) -%}
  {%- set url = 'https://raw.githubusercontent.com/pascaliske/infrastructure/master/roles/homer/files' -%}
  {{- url ~ '/logos/' ~ service.logo | default(service.name | replace(' ', '-') | lower ~ '.png') -}}
{%- endmacro -%}

{# service url block #}
{%- macro service_url(service) -%}
  {%- set defaultValue = 'https://' ~ service.name | replace(' ', '-') | lower ~ '.' ~ domain -%}
  {{- service.url | default(defaultValue) -}}
{%- endmacro -%}

---
# general
title: {{ title }}
documentTitle: {{ title }}
subtitle: {{ subtitle }}
logo: logo.png
columns: {{ '4' if vars.services | length > 3 else '3' }}
colors:
  dark:
    highlight-primary: '#2d333d'
    highlight-secondary: '#2d333d'
    highlight-hover: '#484d56'
    card-background: '#212020'
footer: >
  <p>&copy; {{ ansible_date_time.year }} <a href="https://pascaliske.dev">Pascal Iske</a></p>
  <style>
    {{ lookup('file', 'stylesheets/main.css') | indent(6) }}
  </style>

# navbar
links:
  - name: Proxy
    icon: fas fa-shield-alt
    url: https://traefik.{{ domain }}
    target: _blank
  - name: Auth
    icon: fas fa-lock
    url: https://auth.{{ domain }}
    target: _blank
  - name: GitHub
    icon: fab fa-github
    url: https://github.com/pascaliske/infrastructure
    target: _blank
  - name: Slack
    icon: fab fa-slack
    url: https://pascaliske.slack.com
    target: _blank
  - name: Configure
    icon: fas fa-wrench
    url: https://code.pascaliske.dev/?workspace=/home/coder/projects/infrastructure/infrastructure.code-workspace
    target: _blank

# tags
{% for group in services %}
.{{ group.name | replace(' ', '-') | lower }}: &{{ group.name | replace(' ', '-') | lower }}
  tag: {{ group.name | replace(' ', '-') | lower }}
  target: _blank
{% endfor %}

# services
services:
{% for group in services %}
  - name: {{ group.name }}
    icon: fas fa-{{ group.icon }}
    items:
{% for service in group['items'] %}
      - name: {{ service.name }}
        {% if service.type | default(false) -%}
        type: {{ service.type }}
        {% endif -%}
        {% if service.subtitle | default(false) -%}
        subtitle: {{ service.subtitle }}
        {% endif -%}
        logo: {{ service_logo(service) }}
        url: {{ service_url(service) }}
        {% if service.apikey | default(false) -%}
        apikey: {{ service.apikey }}
        {% endif -%}
        <<: *{{ group.name | replace(' ', '-') | lower }}
{% else %}
      {{- ' []' }}
{% endfor %}
{% else %}
  {{- ' []' }}
{% endfor %}
