# k8s-at-home/homer
# https://github.com/k8s-at-home/charts/blob/master/charts/stable/homer/values.yaml
image:
  repository: b4bz/homer
  tag: latest

env:
  - name: TZ
    value: '{{ timezone }}'
  - name: UID
    value: '{{ ansible_user_uid }}'
  - name: GID
    value: '{{ ansible_user_gid }}'

persistence:
  config:
    enabled: true
    mountPath: /www/assets

configmap:
  enabled: true
  config: |
    {{ lookup('template', role_name ~ '/config.yml.j2') | indent(4) }}
