# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Ansible
on:
  push:
    branches:
      - main
    paths:
      - 'ansible/**'
      - '.github/workflows/ansible.yml'
  pull_request:
    branches:
      - main
    paths:
      - 'ansible/**'
      - '.github/workflows/ansible.yml'

env:
  ANSIBLE_ROLES_PATH: ansible/roles

jobs:
  linting:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      # checkout
      - uses: actions/checkout@v5

      # workaround: ensure git directory exists in working directory, ansible action requires this
      - name: Symlink Git directory to ansible working directory
        run: |
          ln -s ${{ github.workspace }}/.git ${{ github.workspace }}/ansible/.git
          ln -s ${{ github.workspace }}/.ansible-lint ${{ github.workspace }}/ansible/.ansible-lint

      # lint ansible
      - uses: ansible/ansible-lint@v25.9.2
        with:
          working_directory: ${{ github.workspace }}/ansible
