# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Build Docs
on:
  push:
    branches:
      - main

jobs:
  docs:
    name: Build Docs
    runs-on: ubuntu-latest
    steps:
      # checkout
      - uses: actions/checkout@v6

      # setup taskfile
      - uses: arduino/setup-task@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      # setup cache for social cards
      - uses: actions/cache@v5
        with:
          key: ${{ github.ref }}
          path: .cache

      # create pages for docs
      - name: Create pages for docs
        run: task docs

      # deploy docs
      - uses: mhausenblas/mkdocs-deploy-gh-pages@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REQUIREMENTS: docs/requirements.txt
