name: Labels
on: push

jobs:
  labels:
    name: Labels
    runs-on: ubuntu-latest
    steps:
      # checkout
      - uses: actions/checkout@v3

      # sync labels
      - uses: crazy-max/ghaction-github-labeler@v4
        if: success()
