version: '3.7'
services:
  # security
  docker-proxy:
    image: tecnativa/docker-socket-proxy:latest
    container_name: docker-proxy
    restart: always
    expose:
      - 2375
    environment:
      INFO: 1
      CONTAINERS: 1
      IMAGES: 1
      NETWORKS: 1
      VOLUMES: 1
      SERVICES: 1
      POST: 1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - docker
  fail2ban:
    image: crazymax/fail2ban:latest
    container_name: fail2ban
    restart: always
    network_mode: host
    environment:
      TZ: '{{ timezone }}'
      F2B_LOG_TARGET: STDOUT
      F2B_LOG_LEVEL: INFO
      F2B_DB_PURGE_AGE: 1d
      SSMTP_HOST: '{{ vault.smtp.host }}'
      SSMTP_PORT: '{{ vault.smtp.port }}'
      # SSMTP_HOSTNAME: example.com
      SSMTP_USER: '{{ vault.smtp.accounts.auth.email }}'
      SSMTP_PASSWORD: '{{ vault.smtp.accounts.auth.password }}'
      SSMTP_TLS: 'YES'
    volumes:
      - /var/log:/var/log:ro
      - '{{ paths.root }}/fail2ban:/data'
    cap_add:
      - NET_ADMIN
      - NET_RAW

  # services
  gitlab:
    image: gitlab/gitlab-ce:latest
    container_name: gitlab
    restart: unless-stopped
    hostname: git.{{ domain }}
    environment:
      TZ: '{{ timezone }}'
    ports:
      - '2222:22'
    volumes:
      - '{{ paths.root }}/gitlab/config:/etc/gitlab'
      - '{{ paths.root }}/gitlab/data:/var/opt/gitlab'
      - '{{ paths.root }}/gitlab/backups:/var/opt/gitlab-backups'
      - '{{ paths.root }}/gitlab/logs:/var/log/gitlab'
    networks:
      - proxy
    labels:
      - traefik.enable=true
      - traefik.http.routers.gitlab.rule=Host(`git.{{ domain }}`)
      - traefik.http.routers.gitlab.entrypoints=https
      - traefik.http.routers.gitlab.service=gitlab-{{ inventory_hostname }}
      - traefik.http.routers.gitlab.tls=true
      - traefik.http.routers.gitlab.tls.certresolver=http
      - traefik.http.routers.gitlab.middlewares=security@file,error-pages@file
      - traefik.http.services.gitlab-{{ inventory_hostname }}.loadbalancer.server.port=80
      - traefik.http.routers.registry.rule=Host(`registry.{{ domain }}`)
      - traefik.http.routers.registry.entrypoints=https
      - traefik.http.routers.registry.service=registry-{{ inventory_hostname }}
      - traefik.http.routers.registry.tls=true
      - traefik.http.routers.registry.tls.certresolver=http
      - traefik.http.routers.registry.middlewares=security@file,error-pages@file
      - traefik.http.services.registry-{{ inventory_hostname }}.loadbalancer.server.port=80
  gitlab-runner:
    image: gitlab/gitlab-runner:alpine
    container_name: gitlab-runner
    restart: unless-stopped
    environment:
      DOCKER_HOST: tcp://docker-proxy:2375
    volumes:
      - '{{ paths.root }}/gitlab-runner:/etc/gitlab-runner'
    networks:
      - docker
networks:
  proxy:
    ipam:
      config:
        - subnet: 172.20.1.0/24
          gateway: 172.20.1.1
  docker:
    ipam:
      config:
        - subnet: 172.20.2.0/24
          gateway: 172.20.2.1
  redis:
    ipam:
      config:
        - subnet: 172.20.3.0/24
          gateway: 172.20.3.1
volumes:
  paperless_data:
  paperless_media:
